<!DOCTYPE html>
<html class="js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths ng-scope skrollr skrollr-desktop" ng-app="hvApp"><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}.ng-animate-block-transitions{transition:0s all!important;-webkit-transition:0s all!important;}.ng-hide-add-active,.ng-hide-remove{display:block!important;}</style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TAMS CSO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="TAMS CSO is the official Compute Science club at TAMS. We lead cross-campus efforts to connect passionate individuals with each other and provide them with the resources to learn code and create great things.">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,700,400,300" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="main.min.css" rel="stylesheet" type="text/css">
<style type="text/css"></style>

        
  </head>

  <body class="home" style="height: 10468px;">
    <header>
        <div class="jumbotron-wrapper" style="height: 722px;">
    <div class="jumbotron" style="transform: translateY(0px);">
      <div class="background" style="opacity: 1; -webkit-transition: 0ms ease-out 2500ms; transition: 0ms ease-out 2500ms;"></div>
      <nav>
        <a class="btn btn-outline" href="http://goo.gl/forms/XbrpzsrLYg">Interested in joining?</a>
      </nav>
            <div class="container">
        <div class="row">
          <div class="col-md-5 hidden-xs hidden-sm">
          </div>
          <div class="col-md-7" id="intro-text" style="opacity: 1; -webkit-transition: 0ms ease-out 200ms; transition: 0ms ease-out 200ms; -webkit-transform: translateY(50px); top: 322px;">
            <p><strong>We are TAMS CSO.</strong><br><span id="intro-description" style="opacity: 1; -webkit-transition: 0ms ease-out 1500ms; transition: 0ms ease-out 1500ms;">We foster entrepreneurship and technology at TAMS by providing resources and  information for individuals to become efficient coding and leadership wise.</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="navbar-wrapper">
    <div class="navbar navbar-crimson affix-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav nav-justified">
          <li class="">
            <a href="#about">About</a>
          </li>
          <li class="">
            <a href="#team">The Execs</a>
          </li>
          <li>
            <a href="#events">Events</a>
          </li>
          <li>
            <a href="#sponsors">Sponsors</a>
          </li>
          <li>
            <a href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
    </header>

    <div class="content">
    <section id="about" data-100-top="opacity: 1" data-300-top="opacity: .3" class="skrollable skrollable-before" style="opacity: 0.3;">
    <div class="container text-center">
      <h2>What we do</h2>
      <p class="lead section-subtitle">
        We're making TAMS an even better place for bright minded developers.
      </p>
      <div class="content col-md-10 col-md-offset-1 ">
        <p>The TAMS Computer Science Organization is the official CS club at TAMS. We lead cross-campus efforts to connect passionate individuals with each other and provide them with the resources to learn code and create great apps.</p>
        <p>We facilitate a wide array of activities at TAMS, including Hackathons, skill workshops, discussions with experts, pitch practice, code-offs, and social events to bring together like-minded individuals.</p>
      </div>
    </div>
  </section>

  <section id="team" class="bg-light-gray skrollable skrollable-before" data-100-top="opacity: 1" data-300-top="opacity: .3" style="opacity: 0.3;">
    <div class="container text-center">
      <h2>The Execs</h2>
      <p class="lead section-subtitle">We're just students with big ideas and the passion to make them happen.</p>
      <div class="row">
        <div class="col-sm-6 col-md-3" style="width: 230px;">
          <img src="emily.jpg" class="img-responsive center-block" style="height: 200px;width: 160px;">
          <a href="https://www.facebook.com/emily.hu.92351?fref=ts">
          <div class="caption">
            <h3>Emily Hu</h3>
            <p>President</p>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-3" style="width: 230px;">
          <img src="eric.jpg" class="img-responsive center-block">
          <div class="caption">
          <a href="https://www.facebook.com/eric.clinch.9?fref=ts">
            <h3>Eric Clinch</h3>
            <p>Vice President</p>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-3" style="width: 230px;">
          <img src="adil.jpg" class="img-responsive center-block">
          <a href="http://www.adilvirani.io">
          <div class="caption">
            <h3>Adil Virani</h3>
            <p>Director of Hackathons/Development</p>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-3" style="width: 230px;">
          <img src="estella.jpg" class="img-responsive center-block">
          <a href="https://www.facebook.com/estella.z.xin?fref=ts">
          <div class="caption">
            <h3>Estella Xin</h3>
            <p>Director of Competitions and Education</p>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-3" style="width: 230px;">
          <img src="aditya.jpg" class="img-responsive center-block">
          <div class="caption">
          <a href="http://aditya.vaidya.info">
            <h3>Aditya Vaidya</h3>
            <p>Director of Competitions and Education</p>
            </a>
          </div>
        </div>
        </a>
  </div>
  </section>

    <section id="events" data-100-top="opacity: 1" data-300-top="opacity: .3" class="skrollable skrollable-before" style="opacity: 0.3;">
        <div class="container text-center">
      <h2>Events</h2>
      <p class="lead section-subtitle">We run some of the most exciting events around.</p>
      <div class="row">
        <div class="col-md-4">
          <h3>Hackathons</h3>
          <p>A two-day codefest filled with multiple bright minded people to learn about entrepreneurship, coding, and cool techniques through a series of speaker events, workshops, and presentations. Talk to <a href="http://adilvirani.io">Adil Virani </a> for more info.</p>
        </div>
        <div class="col-md-4">
          <h3>Code Reviews</h3>
          <p>Usually lasts a day, where you show the execs your code and we'll let you know if you're practicing good coding techniques. We will also teach you how to fix a problem you may be having with a project of yours. </p>
        </div>
        <div class="col-md-4">
          <h3>Algorithm Compeitions</h3>
          <p>Before we reck people at competitions, we usually go through a lot of workshops held by <a href="https://www.facebook.com/estella.z.xin?fref=ts">Estella</a> and <a href="http://aditya.vaidya.info">Aditya</a>. Remember, you're young, you're a sponge, and you can soak up informations such as complex algorithms easily. So don't give up and try your hardest to keep up with the lesson. MAKE SURE TO ASK QUESTIONS!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h3>Party</h3>
          <p>Okay, we like to code sure. Honestly we like to party too! We'll have multiple events throughout the year that will be filled with fun events. Don't forget to give us suggestions on what you like at parties. Make sure you party your heart out. ;)</p>
        </div>
        <div class="col-md-4">
          <h3>Guest Speakers</h3>
          <p>I know what you may be thinking. Guest speakers in Texas? Trust me there are many people in Texas that are very influencial some are more influencial than people in Silicon Valley. If you're up for being an open-minded individual and learning something new and great. Join us.</p>
        </div>
        <div class="col-md-4">
          <h3>Have Fun</h3>
          <p>Does this need a description?</p>
        </div>
      </div>
    </div>
  </section>

<!--  <section id="fellowship" class="bg-light-gray skrollable skrollable-before" data-100-top="opacity: 1" data-300-top="opacity: .3" style="opacity: 0.3;">
    <div class="container text-center">
      <h2>Membership</h2>
      <p class="lead section-subtitle"></p>
      <div class="row">
        <div class="col-md-4">
          <h3>Hands-on Experience</h3>
          <p></p>
        </div>
        <div class="col-md-4">
          <h3>Local</h3>
          <p></p>
        </div>
        <div class="col-md-4">
          <h3>Real Impact</h3>
          <p></p>
        </div>
      </div>
    </div>
  </section> -->
  
  <section id="sponsors" class="bg-light-gray skrollable skrollable-before" data-100-top="opacity: 1" data-300-top="opacity: .3"  style="opacity: 0.3;">
    <div class="container text-center">
      <h2>Sponsors</h2>
      <p class="lead section-subtitle">Our work is made possible by the support of others.</p>
      <section>
        <div class="row">
          <div class="col-sm-6 sponsor-wrapper">
            <a href="http://www.unt.edu/" target="_blank">
              <img src="UNT.png" class="img-responsive center-block"  style="width: 335px">
            </a>
          </div>
          <div class="col-sm-6 sponsor-wrapper">
            <a href="http://www.mlh.io/" target="_blank">
              <img src="mlh.png" class="img-responsive center-block" style="width: 305px;">
            </a>
          </div>
        </div>
      </section>
   <!--   <section>
        <div class="row">
          <div class="col-sm-6 sponsor-wrapper">
            <a href="http://www.volitioncapital.com/" target="_blank">
              <img src="/assets/img/sponsors/volition_capital.jpg" class="img-responsive center-block">
            </a>
          </div>
          <div class="col-sm-6 sponsor-wrapper">
            <a href="http://rothenbergventures.com/" target="_blank">
              <img id="rothenberg" src="/assets/img/sponsors/rothenberg_ventures.jpg" class="img-responsive center-block">
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6 col-sm-offset-3 sponsor-wrapper">
            <a href="http://www.highlandcapital.com/" target="_blank">
              <img src="/assets/img/sponsors/highland_capital.jpg" class="img-responsive center-block">
            </a>
          </div>
        </div>
      </section>
      <section>
        <div class="row">
          <div class="col-sm-4 sponsor-wrapper">
            <a href="http://www.generalcatalyst.com/" target="_blank">
              <img src="/assets/img/sponsors/general_catalyst.jpg" class="img-responsive center-block">
            </a>
          </div>
          <div class="col-sm-4 sponsor-wrapper">
            <a href="http://boost.vc/" target="_blank">
              <img src="/assets/img/sponsors/boost.jpg" class="img-responsive center-block">
            </a>
          </div>
          <div class="col-sm-4 sponsor-wrapper">
            <a href="http://libertyteller.com/" target="_blank">
              <img src="/assets/img/sponsors/liberty_teller.jpg" class="img-responsive center-block">
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 col-sm-offset-2 sponsor-wrapper">
            <a href="http://peertransfer.com/" target="_blank">
              <img src="/assets/img/sponsors/peertransfer.jpg" class="img-responsive center-block">
            </a>
          </div>
          <div class="col-sm-4 sponsor-wrapper">
            <a href="http://www.ocs.fas.harvard.edu/" target="_blank">
              <img src="/assets/img/sponsors/harvard_ocs.jpg" class="img-responsive center-block">
            </a>
          </div>
        </div>
      </section> -->
    </div>
  </section>


  <section id="contact" data-100-top="opacity: 1" data-300-top="opacity: .3" class="skrollable skrollable-before" style="opacity: 0.3;">
    <div class="container text-center">
      <h2>Let's get in touch.</h2>
      <div class="section-subtitle">
          <p class="lead">Got a question? Drop us a note at tamscomputerscience [at] gmail.com!</p>
        <p class="lead">Also for you hackers, the password is somewhere in this website.</p>
      </div>
    </div>
  </section>
    </div>

    <footer>
              <div class="container content-info text-center">
          <p>© 2015 TAMS CSO</p>
          <p>Designed and built with love by <a href="http://adilvirani.io">Adil Virani '16</a></p>
        </div>
          </footer>

    <div class="modal fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="modal-login-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="modal-login-label"></h4>
          </div>
          <div class="modal-body">
            <form accept-charset="UTF-8" class="form-horizontal ng-scope ng-pristine ng-valid" ng-controller="LoginController" ng-submit="submit()">
  <input type="hidden" name="_token" value="3RdrjoEksm3FU78Ic9UFRn0v73wFhK2yJsSrjWKL">
  <div class="form-group">
      <label for="email" class="col-sm-2 col-sm-offset-1 control-label">Email</label>
      <div class="col-sm-9">
        <input class="form-control ng-pristine ng-valid ng-valid-email" tabindex="1" placeholder="Email" type="email" name="email" id="email" value="" ng-model="formData.email">
      </div>
  </div>
  <div class="form-group">
    <label for="password" class="col-sm-2 col-sm-offset-1 control-label">
        Password
    </label>
    <div class="col-sm-9">
      <input class="form-control ng-pristine ng-valid" tabindex="2" placeholder="Password" type="password" name="password" id="password" ng-model="formData.password">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <button tabindex="3" type="submit" class="btn btn-default">Login</button>
    </div>
  </div>
</form>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    

    <script src="move.min.js"></script>
    <script src="scripts.min.js"></script>

        
      

<script type="text/javascript">(function () {
        return window.SIG_EXT = {};
      })()</script></body></html>
